[submodule "Modules/PsGet"]
	path = Modules/PsGet
	url = git@github.com:psget/psget.git
[submodule "Modules/Pester"]
	path = Modules/Pester
	url = git@github.com:pester/Pester.git
[submodule "Modules\\PoshGit"]
	path = Modules\\PoshGit
	url = git@github.com:dahlbyk/posh-git.git
